<nav class="nav-links">
    <% if (isAuthenticated) { %>
        <span>Welcome, <%= user.username %>!</span>
        <a href="/signout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
    <% } %>
</nav>
