<section>
    <h1>Hello</h1>
    <table class="file-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <% if (files.length === 0) { %>
                <tr>
                    <td colspan="2">No files uploaded.</td>
                </tr>
            <% } else { %>
                <% files.forEach(file => { %>
                    <tr>
                        <td><%= file.fileName %></td>
                        <td><%= file.createdAt.toLocaleString() %></td>
                    </tr>
                <% }) %>
            <% } %>
        </tbody>
    </table>
</section>